[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mdgsa"]
	path = mdgsa
	url = https://github.com/dmontaner/mdgsa
	shallow = true
	registered = true
